.idea/
node_modules/
frontend/js/bundle.min.js
backend/cmd/tmp/
backend/cmd/logs/
backend/cmd/cmd.exe
backend/cmd/cmd.exe~
backend/cmd/dtlg.db
backend/cmd/dtlg.db.lock
backend/cmd/spamalot.db
backend/cmd/spamalot.db.lock
backend/cmd/*.exe